Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
data = [4,8,15,16,23,42]

In [3]:
import pandas as pd

In [5]:
df = pd.Series(data)

In [6]:
df.head()

0     4
1     8
2    15
3    16
4    23
dtype: int64

In [7]:
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [8]:
temp_series = [1,2,3,4,5,6,7,8,9,10]

In [9]:
df1 = pd.Series(temp_series)

In [10]:
print(df1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [12]:
data1 = {
    'Name' : ["Alice","Bob","Claire"],
    'Age'  : [25,30,27],
    'Gender' : ["Female","Male","Female"]
}

In [13]:
df = pd.DataFrame(data1)

In [14]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It can be thought of as a table, where each column contains data of a specific type (e.g., numeric, string, boolean) and each row represents a record.


A Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, etc.). It is similar to a single column of data in a DataFrame.

In [15]:
#Series
import pandas as pd

# Data for the Series
data = [25, 30, 35, 40, 45]

# Create a Series
series = pd.Series(data)

# Print the Series
print(series)

0    25
1    30
2    35
3    40
4    45
dtype: int64

In [16]:
#DataFrame
import pandas as pd

# Data for the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

# Create a DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [22]:
# Create a DataFrame
data2 = {    'Name': ['Alice', 'Bob', 'Charlie'], 
             'Age': [25, 30, 35],    
             'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data2)

Data Cleaning:

dropna(): Drops rows with missing values.
fillna(): Fills missing values with a specified value or method.

In [23]:
# Drop rows with missing values
cleaned_df = df.dropna()
print(cleaned_df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among Series, DataFrame, and Panel, only DataFrame is mutable in nature.

Series: Once created, a Series is immutable. This means you cannot change the elements of a Series directly after it has been created. You can, however, modify the Series by assigning new values or appending new elements.

DataFrame: DataFrames are mutable, meaning you can modify its data, add or remove columns, or change its structure after it has been created. This flexibility makes DataFrames highly versatile for data manipulation tasks.

Panel: Panels were deprecated in Pandas starting from version 0.20.0, and they are no longer recommended for use. Panels were 3-dimensional data structures (with items, major_axis, and minor_axis) and supported mutable operations similar to DataFrames for their respective axes. However, with the deprecation of Panels, DataFrames and multi-indexing techniques have become the preferred way to handle complex data structures in Pandas.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [24]:

# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
cities = pd.Series(['New York', 'Los Angeles', 'Chicago'])

# Combining Series into a DataFrame
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'City': cities
})

# Print the DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago